@use "../../main.scss" as *;

.main-header-box{
    background-image: linear-gradient(135deg, rgba(3, 28, 14, 0.951) 0%, rgba(2, 19, 13, 0.982) 100%);
    padding:12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .main-nav-ops-box{
        display: flex;
        align-items: center;
        gap: 36px;
        .main-nav-ops-courses{
            color:$primary-text-color;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            &:hover{
                color:$secondary-text-color;
            }
        }
    }

}
