@use "../../../main.scss" as *;

.main-header-box{
    background-color:$primary-bg-color;
    padding:12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #6ef1a551;
    .main-nav-ops-box{
        display: flex;
        align-items: center;
        gap: 36px;
        .nav-auth-btns-box{
            display: flex;
            align-items: center;
            gap:20px;
        }
        .profile-section-box{
            padding:8px 10px;
            display: flex;
            align-items: center;
            gap:8px;
            background-color:rgba(21, 238, 162, 0.131);
            border-radius:24px;
        }
    }

    .nav-txt-btns-box{
        display: flex;
        align-items: center;
        gap: 36px;
    }

}
